h1 {
    text-align: center;
}

.lead {
    text-align: center;
    flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px dotted silver;
}

.leads{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input--wider {
    width: 70%;
    margin: 0.2em;
  }
  
  .lead--form{
      text-align: left;
      margin: 1rem;
      
  }
  
 