h1 {
    text-align: left;
    color: #282828;;
    margin: 2rem;
}

.lead {
    text-align: center; 
    padding: 1rem;
    flex-basis: 20%;
    padding: 1em;
    border: 1px solid silver;
}

.leads{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.check-item{
    margin-right: 1rem;
    margin-left: 1rem;
}

.input--wider {
    width: 100%;
    margin: 0.2em;
  }

  .searchBar{
      width: relative;
      margin: 1rem;
  }
  
  .lead--form{
      text-align: left;
      margin: 1rem;
      
  }
  

  .newButton{
      margin: 1rem;
  }

  #root{
    background:rgba(130, 147, 166, 1);
    margin: auto;
  }

  /* .card-body{
    background:rgba(32, 108, 238, 1);
  } */