
.footer_bottom {
    background: #282828;
    padding: 40px 0;
    display: flex;
}

.container {
    color: white;
    margin: auto;
}

.Card{
    margin: 1rem;
    padding: 1rem;
}

.my-info{
    position: center;
}
