h1 {
    text-align: left;
    color: #282828;;
    margin: 2rem;
}

.document {
    text-align: center;
    flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px dotted silver;
}

.documents {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
  .form--item {
      width: 25%;
      justify-content: space-around;
      margin: 1rem;
  }
  

  .newButton{
    margin: 1rem;
}

.check-item{
    margin-right: 1rem;
    margin-left: 1rem;
}

  .lead {
    text-align: center; 
}

.leads{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.input--wider {
    width: 100%;
    margin: 0.2em;
  }

  .searchBar{
      width: relative;
      margin: 1rem;
  }
  
  .doc--form{
      text-align: left;
      margin: 1rem;
      
  }
  
  