h1 {
    text-align: center;
}

.document {
    text-align: center;
    flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px dotted silver;
}

.documents{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
  .form--item {
      width: 50%;
      justify-content: space-evenly;
      margin: 1rem;
  }
  
  .doc--form{
      text-align: left;
      margin: 1rem;
      
  }
  
  